In [1]:
import pandas as pd
import numpy as np

In [2]:

checkins_df = pd.read_csv(f'../datasets/downloads/weeplaces/weeplaces/weeplace_checkins.csv')

In [3]:
friends_df = pd.read_csv(f'../datasets/downloads/weeplaces/weeplaces/weeplace_friends.csv')

In [4]:
checkins_df

,userid,placeid,datetime,lat,lon,city,category
0,fred-wilson,tocqueville-new-york,2010-10-22T23:44:29,40.736300,-73.992200,New York,Food:American
1,fred-wilson,wesleyan-university-usdan-university-center-mi...,2010-10-23T17:00:24,41.556974,-72.657571,Middletown,College & Education:Student Center
2,fred-wilson,javapalooza-middletown,2010-10-23T20:30:45,41.558853,-72.648618,Middletown,Food:Coffee Shop
3,fred-wilson,giorgione-new-york,2010-10-24T00:22:49,40.726144,-74.008348,New York,Food:Italian
4,fred-wilson,the-shala-new-york,2010-10-24T16:01:38,40.733075,-73.991478,New York,Home / Work / Other:Gym / Fitness:Yoga Studio
...,...,...,...,...,...,...,...
7658363,mark-van-der-poel,schiecentrale-rotterdam-rotterdam,2010-10-22T07:06:14,51.904231,4.459790,Rotterdam,Home / Work / Other:Corporate / Office
7658364,mark-van-der-poel,beukelsplein-rotterdam,2010-10-22T12:00:08,51.921256,4.455721,Rotterdam,Parks & Outdoors:Playground
7658365,mark-van-der-poel,supersteil-rotterdam,2010-10-22T12:00:45,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office
7658366,mark-van-der-poel,supersteil-rotterdam,2010-09-23T09:07:57,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office
7658367,mark-van-der-poel,supersteil-rotterdam,2010-09-23T08:39:29,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office

In [5]:
x = friends_df[friends_df['userid1'] == '01']
print(x)
x = friends_df[friends_df['userid2'] == '01']
print(x)

# frinedlist contains directions of the relationship between users

       userid1              userid2
114682      01                   ju
114683      01  gregor-van-der-mark
114684      01         ivan-ralchev
                    userid1 userid2
85623          ivan-ralchev      01
85624                    ju      01
119160  gregor-van-der-mark      01

In [6]:
grouped_df = friends_df.groupby('userid1')['userid2'].agg(lambda x: set(x))
# grouped_df.reset_index(inplace=True)
# grouped_df.set_index('userid1', inplace=True)
# grouped_df

In [7]:
grouped_df

userid1
00-a           {keiichi-yoshipara, jin-shiiba, 337, hironao, ...
0046aki                                                  {ihase}
01                       {ju, ivan-ralchev, gregor-van-der-mark}
0403                                         {rika, poppo-poppo}
062            {kaichi-kuroda, red-bull, kuma, salsa-labs, st...
                                     ...
zulfan-tm      {fathiya-adisza, luna-fedrafaisya, zakwannur-o...
zuntsuku                                        {stilo-kitagawa}
zvi-band       {ben-kutil, justin-thorp, julie-minevich, davi...
zviki-cohen              {roi-carthy, liran-zelkha, yosi-taguri}
zwilling                      {daniel-pavlides, danielle-maveal}
Name: userid2, Length: 16021, dtype: object

In [8]:
count_friendship = friends_df.groupby('userid1')['userid2'].agg('count')

In [9]:
np.average(count_friendship)

7.485799887647462